@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Nunito Sans", serif;
    color: var(--text);
}

:root {
    --background: #fafafb;
    --text: #0c0c0d;
    --primary: #8460ac;
    --secondary: #b191d6;
    --accent: #9760d7;
}

html {
    overscroll-behavior: smooth;
}

h1 {
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0;
}

h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0;
}

h3 {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.72%;
    opacity: 50%;
}

p {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0;
}

h1,
h2,
h3 {
    font-family: "Manrope", serif;
}

.first-type-button {
    background-color: var(--background);
    border: none;
    border-radius: 8px;
    color: var(--primary);
    padding: 12px 14px;
    text-decoration: none;
    transition: all ease 0.2s;

    &:hover,
    &:focus {
        background-color: var(--accent);
        color: var(--background);
    }
}

.second-type-button {
    cursor: pointer;
    background-color: var(--primary);
    border: none;
    border-radius: 8px;
    color: var(--background);
    padding: 12px 14px;
    margin-top: 18px;
    width: 100%;
    transition: all ease 0.2s;

    &:hover,
    &:focus {
        background-color: var(--background);
        color: var(--accent);
    }
}

body {
    min-height: 100vh;
    background-color: var(--background);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid var(--accent);
}

.hamburger {
    cursor: pointer;
}

.links-container {
    display: none;
    list-style: none;
}

.logo {
    cursor: pointer;
    width: 60px;
    object-fit: cover;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;

    a {
        text-decoration: none;
        color: var(--text);
        display: flex;
        align-items: center;
        gap: 4px;

        &:nth-child(2) {
            display: none;
        }
    }
}

.account-svg {
    display: none;
}

.best-seller-hero {
    position: relative;
    padding: 64px 32px;
    background-color: rgba(0, 0, 0, 0.1);

    .image-hero {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.hero-text {
    position: absolute;
    bottom: 64px;
    left: 32px;
    color: var(--background);

    h2 {
        margin-bottom: 20px;
    }
}

.presentation-hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 96px 34px 180px 34px;
    gap: 48px;
    background-color: var(--accent);
}

.shop-photos {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 32px 16px;


    h2 {
        text-align: center;
    }
}

.photo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    img {
        width: 33%;
        object-fit: cover;
    }
}

footer {
    border-top: 1px solid var(--accent);
    display: flex;
    flex-direction: column;
    padding: 76px 40px 42px 40px;
    gap: 80px;
    background-color: var(--secondary);
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.footer-link-wrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.list-links {
    display: flex;
    flex-direction: column;
    list-style: none;

    h3 {
        margin-bottom: 20px;
    }

    li {
        margin-bottom: 4px;

        &:last-child {
            margin-bottom: 0px;
        }
    }
}

.footer-newsletter {
    h3 {
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0;
        margin-bottom: 24px;
    }

    input {
        background-color: var(--background);
        border: 1px solid var(--text);
        border-radius: 8px;
        padding: 12px 14px;
        width: 100%;
        margin-bottom: 4px;
        outline: none;

        &:focus {
            border: 3px solid var(--accent);
        }
    }
}

.copyright {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .hamburger {
        display: none;
    }

    .links-container {
        display: flex;
        align-items: center;
        gap: 42px;
    }

    .acount {
        display: none;
    }

    .logo {
        margin-right: 36px;
    }
}